*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
button{
    height: 50px;
    width: 100px;
    color: red;
    padding: 20px;
}